div.terminal-button-bar(*ngIf='isEnabled', (contextmenu)='openContextMenu($event)')
    button.btn.btn-sm.btn-outline-secondary.button-bar-btn.button-bar-add(
        type='button',
        (click)='openMapButton()',
        [title]='"Add button"|translate',
        [attr.aria-label]='"Add button"|translate'
    )
        i.fas.fa-plus(aria-hidden='true')

    button.btn.btn-sm.button-bar-btn(
        *ngFor='let button of buttons; trackBy: trackByIndex',
        type='button',
        [ngClass]='getButtonClass(button)',
        [disabled]='!tab?.session?.open',
        [title]='getTooltip(button)',
        (click)='sendButton(button)',
        (contextmenu)='openContextMenu($event, button)'
    )
        span.button-dot([ngClass]='getDotClass(button)')
        span.button-label {{getButtonLabel(button)}}
